<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
        <script src="/js/app.js"></script>
        <title>Test</title>
    </head>

    <body>
        <h1>SHOPEE TEST</h1>
        <a href="/about">about</a>
        <p>shop_id: {{shop_id}}</p>
        <p>code: {{code}}</p>
        <p>partner_id: {{partner_id}}</p>
        <p>sign: {{sign}}</p>
        <p>timestamp: {{timestamp}}</p>
    </body>

</html>